*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sourceCanvas{
    border: 2px solid rgb(19, 18, 18);
}

#targetCanvas{border: 2px solid rgb(10, 12, 12);}

