*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sourceCanvas{
    border: 2px solid rgb(154, 25, 25);
}

#targetCanvas{border: 2px solid rgb(15, 194, 143);}

